h1{
    color:coral;
}

img{
    width: 400px;
}

#thirdDiv{
    height: 700px;
    width: 500px;
    background-color: coral;
    padding: 50px;
    border-radius: 69px;
    border: solid rgb(255, 229, 111);
}
#spanId{
    font-size: 18px;
    margin: 50px;
}